body {
    background: #f1f1f1 !important;
}

#main {
    display: block;
    background: #f1f1f1;
    height: 100%;
}

#statusTab {
    position: sticky;
    top: 58px;
    z-index: 3;
    font-weight: 600;
    box-shadow: 0px 2px 4px 0px #a4a1a1;
    background: white;
    border-radius: 5px;
}

.nav-link {
    color: #337ab7 !important;
}

.nav-link.active {
    color: white !important;
    background-color: #337ab7 !important;
}

.cart-item,
#detail,
.coupon,
#table-column {
    background-color: white;
    border-bottom: 1px solid #babfbf;
    align-items: center;
}

.item-propety {
    display: flex;
    font-size: medium;
    justify-content: center;
    align-self: center;
    padding: 4px 10px !important;
}

.cart-item img {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.cart-item .product-name {
    align-self: center;
    width: 100%;
}

.item-total {
    color: green;
    font-weight: 500;
}

#price {
    color: black;
    font-weight: 500;
}

#table-column {
    font-weight: 500;
    position: relative;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.row {
    --bs-gutter-x: unset !important;
}


#cal-total {
    font-size: 16px;
}

span.title {
    color: rgb(116, 115, 115);
    margin-right: 8px;
    font-size: 15px;
}

span.propety {
    font-size: 15px;
}

.coupon .propety,
#detail .propety {
    font-weight: 500;
}

.order {
    margin: 16px 0;
}

.order-id {
    height: 45px;
    background-color: #ffffff;
    color: rgb(84 84 84);
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #7a7a7a;
    border-bottom: unset;
}

.order-id:hover {
    background: #eeedf5;
}

.order-detail {
    overflow: hidden;
    transition: 0.2s ease-out;
}

.order-id>* {
    line-height: 45px;
    font-size: 17px;
    font-weight: 600;
}

.order-id i {
    margin: 0 8px;
}

a.bttUptStatus {
    display: inline-block;
    cursor: pointer;
    outline: 0;
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border-radius: 0\9;
    -moz-box-shadow: inset 0 1px 0 0 #fcf3dc;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8E3AD', endColorstr='#FFEEBA37', GradientType=0);
    background: -moz-linear-gradient(top, #f8e3ad, #EEBA37);
    background: -webkit-linear-gradient(top, #f8e3ad, #EEBA37);
    background: -o-linear-gradient(top, #f8e3ad, #EEBA37);
    background: -ms-linear-gradient(top, #f8e3ad, #EEBA37);
    text-align: center;
    color: #111;
    font-family: inherit;
    line-height: 43px;
    font-size: 15px;
    width: 110px;
    font-weight: 600;
}

a.bttUptStatus:hover {
    background: #f1c65a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6DA95', endColorstr='#FFECB21F', GradientType=0);
    background: linear-gradient(to bottom, #f6da95, #ecb21f);
    background: -moz-linear-gradient(top, #f6da95, #ecb21f);
    background: -webkit-linear-gradient(top, #f6da95, #ecb21f);
    background: -o-linear-gradient(top, #f6da95, #ecb21f);
    background: -ms-linear-gradient(top, #f6da95, #ecb21f);
    text-decoration: none;
}

a.bttUptStatus:active {
    background: #EEBA37;
    -webkit-box-shadow: inset 0 1px 3px 0 #b0820f;
    -moz-box-shadow: inset 0 1px 3px 0 #b0820f;
    box-shadow: inset 0 1px 3px 0 #b0820f;
}

a.disable {
    background: #f4f6f8f2;
    color: #635f5f !important;
    text-align: start;
    font-family: inherit;
    line-height: 43px;
    font-size: 12px;
    width: 110px;
    font-weight: 600;
    border: 1px solid #9b9797;
    box-shadow: inset 0px 0px 6px 0 #706f6f;
}

a.complete {
    font-size: 28px;
    padding-left: 35px;
    color: #1aba1a !important;
    background: #d5ffd1;
    border: 1px solid green;
}

#searchOrder {
    border-radius: 2px;
}

#search-order {
    height: 35px;
    width: 100%;
    background-color: white;
    outline: none;
    border: none;
}

.delete-item {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: ease-in 50ms;
}

.delete-item {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: ease-in 50ms;
    position: absolute;
    width: 35px !important;
    right: 10px;
}

.delete-item:hover {
    color: #e10909;
}

#cancel-nav.active {
    background-color: #e61111 !important;
    color: white !important;
}

#cancel-nav {
    color: #e61111 !important;
}

#assign-shipper-modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 130px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#assign-shipper-modal .modal-content {
    background-color: #fefefe;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 43%;
}

#assign-shipper-modal #send-assign-shipper {
    border-radius: 5px;
    width: 32%;
    border: 1px solid rgb(11, 116, 229);
    color: white;
    font-weight: 500;
    background-color: rgb(11, 116, 229);
    padding: 6px 0;
    margin-top: 12px;
}

#close-modal {
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: 22px;
}

#close-modal:hover {
    color: red;
}

form {
    width: 100%;
}

.form-group {
    position: relative;
    text-align: left;
    padding: 8px 4px;
    align-items: center;
}

.form-group input {
    height: 40px;
}


.form-group .form-label {
    word-wrap: normal;
    margin-right: 4px;
}

input.valid_time {
    width: 160px !important;
}

input#value {
    width: 75%;
}

input#value+span {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 18%;
}

.form-control {
    background-color: white;
}

.form-control:hover {
    border-color: #1dbfaf;
}

ul.list-none {
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    width: 100%;
    position: absolute;
}

ul.list-none li:hover {
    background-color: rgb(237 235 235) !important;
    cursor: pointer;
}

.modal-content .order {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
}

.modal-content .order div {
    width: 100%;
    text-align: start;
    margin-bottom: 8px;
    padding: 0 4px;
}

.modal-content .order div .tittle {
    font-weight: 600;
    margin-right: 8px;
}

.modal-content .order div .value {}

#eth-pay {
    color: #37367b;
    align-items: center;
}

#eth-pay i {
    font-size: 20px;
}

.cbx-icon {
    position: absolute;
    right: 12px;
    bottom: 20px;
}