<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/product-detail.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/custom-element.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <!-- Icon -->
    <link rel="stylesheet" href="../font/themify-icons/themify-icons.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a44f840e5f.js" crossorigin="anonymous"></script>

    <title>Chi tiết sản phẩm</title>
</head>

<body>
    <section id="header">
        <div class="wrapper">
            <input type="checkbox" id="btn" hidden>
            <label for="btn" class="menu-btn">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </label>
            <nav id="sidebar">
                <div class="title">Quản Trị</div>
                <ul class="list-items">
                    <li><a href="./orders_manage.html"><i class="fa-solid fa-boxes-stacked"></i>Đơn hàng</a></li>
                    <li><a href="./products_manage.html"><i class="fa-solid fa-shirt"></i>Sản phẩm</a></li>
                    <li><a href="./discount_manage.html"><i class="fa-solid fa-tags"></i>Khuyến mãi</a></li>
                    <li><a href="./statistic.html"><i class="fa-solid fa-chart-line"></i>Thống kê</a></li>
                </ul>
            </nav>
        </div>
        <div class="searchbox">
            <i id="ti-search" class="ti-search"></i>
            <form action="./search-results.html" method="GET" id="searchform">
                <input autocomplete="off" id="searchbar" name="searchbar" type="text" placeholder="Tìm kiếm sản phẩm..."
                    autocomplete="off">
            </form>
            <div id="search-results">

            </div>
        </div>

        <div class="actionbar">
            <i id="notification" class="ti-bell"></i>
            <a id="user" href="#"><img src="" alt="" id="avatar"></a>
            <a id="login" href="./login.html">Đăng nhập</a>
        </div>
    </section>
    <section id="product-detail" class="container-fluid pt-5">
        <h4 class="tittle mb-3 px-5">Chi tiết sản phẩm</h4>
        <div class="row px-5">
            <div id="product-images" class="row col-lg-6 col-md-12 col-12">
                <div class="images-group col-2">

                </div>
                <img id="main-img" class="img-fluid mb-2 col-10" src="" alt="Hãy chọn ảnh">
                <div id="selectimg-container">
                    <label for="selectimg"><i class="fa-solid fa-camera"></i> Chọn ảnh</label>
                    <input type="file" id="selectimg" name="selectimg" class="col" multiple
                        accept="image/png, image/jpeg, image/webp" onchange="previewFile(this)">
                </div>
                <i id="remove-picture" class="fa-solid fa-xmark" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Xóa ảnh" onclick="removeSelectedImageAction()"></i>
            </div>
            <form action="" id="product-info" class="col-lg-6 col-md-12 col-12">
                <!-- Name -->
                <div class="form-group">
                    <label for="name" class="form-label">Tên sản phẩm:</label>
                    <input autocomplete="off" id="name" name="name" type="text" placeholder="Nhập tên sản phẩm"
                        class="form-control">
                    <span class="form-message"></span>
                </div>
                <!-- Price -->
                <div class="form-group">
                    <label for="price" class="form-label">Đơn giá:</label>
                    <input autocomplete="off" id="price" name="price" type="number" placeholder="Giá sản phẩm VND"
                        step="1000" class="form-control" min="0">
                    <span style="width: 40px;position: absolute;top: 40px;left: 45%;font-size: 18px;">VND</span>
                    <span class="form-message"></span>
                </div>
                <!-- Category, brand -->
                <div style="display: flex;">
                    <div class="form-group">
                        <label class="form-label"> Danh mục:</label>
                        <select id="category" name="category" class="form-control">

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label"> Hãng:</label>
                        <div class="form-group combobox">
                            <select id="brand-select" class="form-control"
                                onchange="this.nextElementSibling.value=this.options[this.selectedIndex].text; this.nextElementSibling.dispatchEvent(new Event('change'));">
                                <option value=""></option>
                            </select>
                            <input autocomplete="off" id="brand" name="brand" type="text" name="format" />
                            <span class="form-message" style="transform: translate(4px,40px);"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group sex">
                    <p class="form-label" style="line-height: 40px; margin-right: 30px; padding-bottom: 0;">Giới tính
                    </p>
                    <input id="male" name="sex" type="radio" class="form-control" value="1" checked>
                    <label for="male" class="form-label sex" style="margin-right: 30px;">Nam</label>
                    <input id="female" name="sex" type="radio" class="form-control" value="0">
                    <label for="female" class="form-label sex">Nữ</label>
                </div>
                <div id="size-detail" class="mt-2">
                    <label class="form-label">Chi tiết sizes, số lượng:</label>
                    <table id="sizes-stock">
                        <tr>
                            <th>Mã size</th>
                            <th>Tồn kho</th>
                            <th>Nhập thêm</th>
                        </tr>
                        <tr>
                            <td><label class="form-label" for="M">M</label></td>
                            <td>10</td>
                            <td>
                                <input autocomplete="off" id="M" name="M" type="number" placeholder="Số lượng" step="1"
                                    min="0" value="0">
                                <a class="addStock" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nhập kho"
                                    onclick="addStockAction(this.previousElementSibling)"><i
                                        class="fa-solid fa-plus"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group mt-3">
                    <label class="form-label">Mô tả:</label>
                    <textarea id="description" name="description" cols="20" rows="5"
                        placeholder="Miêu tả về sản phẩm này..." class="form-control"></textarea>
                    <span class="form-message"></span>
                </div>
                <button class="form-submit" type="submit"><i class="fa-solid fa-check"></i>Cập nhật sản phẩm</button>
                <button id="delete-product" type="button" class="form-submit" onclick="deleteProductAction()"><i
                        class="fa-solid fa-trash-can"></i>Xoá sản phẩm</button>
            </form>
        </div>
    </section>
    <section id="dialog">

    </section>
    <script src="../scripts/lib/globalfunc.js"></script>
    <script src="../scripts/api/user.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/api/product.js"></script>
    <script src="../scripts/lib/validator.js"></script>
    <script src="../scripts/product-detail.js"></script>
    <script src="../scripts/renderer.js"></script>
    <script>
        Validator({
            form: '#product-info',
            requirements: [
                Validator.isRequired('#name', 'Tên sản phẩm không được trống'),
                Validator.isRequired('#price', 'Giá không được bỏ trống'),
                Validator.isRequired('#brand', 'Hãng không được bỏ trống'),
                Validator.isRequired('#description', 'Mô tả không được bỏ trống'),
            ],
            onSubmit: function (data) {
                updateProductAction(data);
            }
        });
    </script>
</body>

</html>