<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/search-results.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <!-- Icon -->
    <link rel="stylesheet" href="../font/themify-icons/themify-icons.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a44f840e5f.js" crossorigin="anonymous"></script>

    <title>Quản lý sản phẩm</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>
    <section id="header">
        <div class="wrapper">
            <input type="checkbox" id="btn" hidden>
            <label for="btn" class="menu-btn">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </label>
            <nav id="sidebar">
                <div class="title">Quản Trị</div>
                <ul class="list-items">
                    <li><a href="./orders_manage.html"><i class="fa-solid fa-boxes-stacked"></i>Đơn hàng</a></li>
                    <li><a href="./products_manage.html"><i class="fa-solid fa-shirt"></i>Sản phẩm</a></li>
                    <li><a href="./discount_manage.html"><i class="fa-solid fa-tags"></i>Khuyến mãi</a></li>
                    <li><a href="./statistic.html"><i class="fa-solid fa-chart-line"></i>Thống kê</a></li>
                </ul>
            </nav>
        </div>
        <div class="searchbox">
            <i id="ti-search" class="ti-search"></i>
            <form action="./search-results.html" method="GET" id="searchform">
                <input id="searchbar" name="searchbar" type="text" placeholder="Tìm kiếm sản phẩm..."
                    autocomplete="off">
            </form>
            <div id="search-results">

            </div>
        </div>

        <div class="actionbar">
            <i id="notification" class="ti-bell"></i>
            <a id="user" href="#"><img src="" alt="" id="avatar"></a>
            <a id="login" href="./login.html">Đăng nhập</a>
        </div>
    </section>
    <section id="filter" class="mx-auto">
        <div class="container-fluid p-3">
            <h5 class="title py-2">Bộ lọc:</h5>
            <h6 class="title">Giới tính: </h6>
            <ul id="list-sex" class="px-2">
                <li>
                    <input type="radio" name="sex" id="all" value="-1" checked>
                    <label for="all">Tất cả</label>
                </li>
                <li>
                    <input type="radio" name="sex" id="female" value="0">
                    <label for="female">Nữ</label>
                </li>
                <li>
                    <input type="radio" name="sex" id="male" value="1">
                    <label for="male">Nam</label>
                </li>
            </ul>

            <h6 class="title">Danh mục: </h6>
            <ul id="list-categories" class="px-2">
                <li>
                    <input type="checkbox" name="1" id="1" value="Giày dép">
                    <label for="1">Giày dép</label>
                </li>
                <li>
                    <input type="checkbox" name="1" id="1" value="Giày dép">
                    <label for="1">Giày dép</label>
                </li>
                <li> <input type="checkbox" name="1" id="1" value="Giày dép">
                    <label for="1">Giày dép</label>
                </li>
            </ul>

            <h6 class="title">Thương hiệu: </h6>
            <ul id="list-brands" class="px-2">
                <li>
                    <input type="checkbox" name="1" id="1" value="Giày dép">
                    <label for="1">Giày dép</label>
                </li>
                <li>
                    <input type="checkbox" name="1" id="1" value="Giày dép">
                    <label for="1">Giày dép</label>
                </li>
                <li>
                    <input type="checkbox" name="1" id="1" value="Giày dép">
                    <label for="1">Giày dép</label>
                </li>
            </ul>

            <h6 class="title">Tình trạng: </h6>
            <ul id="list-stock" class="px-2">
                <li>
                    <input type="radio" name="stock" id="allstatus" value="-1" checked>
                    <label for="allstatus">Tất cả</label>
                </li>
                <li>
                    <input type="radio" name="stock" id="outofsize" value="0">
                    <label for="outofsize">Hết size</label>
                </li>
                <li>
                    <input type="radio" name="stock" id="outofstock" value="1">
                    <label for="outofstock">Hết hàng</label>
                </li>
            </ul>
        </div>
    </section>

    <section id="results" class="mx-auto">
        <div id="results-header" class="container-fluid p-3">
            <h4 id="searchstr" class="title">Không tìm thấy sản phẩm nào phù hợp</h4>
            <div>
                <select required id="sortby" title="Sắp xếp theo" onchange="sortProducts('#sortby')">
                    <option value="nameAsc">Tên A-Z</option>
                    <option value="nameDesc">Tên Z-A</option>
                    <option value="priceAsc">Giá tăng dần</option>
                    <option value="priceDesc">Giá giảm dần</option>
                </select>
                <a id="newproduct" href="./create_product.html" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Tạo sản phẩm mới"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
        <div id="product-container" class="product-list mx-auto container-fluid">

        </div>
        <button id="loadmore" class="container text-center mt-5 px-2 py-1" onclick="loadMore('#product-container')">
            Xem thêm <i class="icon-solid icon-sort-down"></i>
        </button>
    </section>
    <script src="../scripts/api/user.js"></script>
    <script src="../scripts/lib/globalfunc.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/api/product.js"></script>
    <script src="../scripts/renderer.js"></script>
    <script src="../scripts/products_manage.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>

</html>