<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/statistic.css">
    <link rel="stylesheet" href="../css/custom-element.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <!-- Icon -->
    <link rel="stylesheet" href="../font/themify-icons/themify-icons.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a44f840e5f.js" crossorigin="anonymous"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>Thống kê</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>
    <section id="header">
        <div class="wrapper">
            <input type="checkbox" id="btn" hidden>
            <label for="btn" class="menu-btn">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </label>
            <nav id="sidebar">
                <div class="title">Quản Trị</div>
                <ul class="list-items">
                    <li><a href="./orders_manage.html"><i class="fa-solid fa-boxes-stacked"></i>Đơn hàng</a></li>
                    <li><a href="./products_manage.html"><i class="fa-solid fa-shirt"></i>Sản phẩm</a></li>
                    <li><a href="./discount_manage.html"><i class="fa-solid fa-tags"></i>Khuyến mãi</a></li>
                    <li><a href="./statistic.html"><i class="fa-solid fa-chart-line"></i>Thống kê</a></li>
                </ul>
            </nav>
        </div>
        <div class="searchbox">
            <i id="ti-search" class="ti-search"></i>
            <form action="./search-results.html" method="GET" id="searchform">
                <input id="searchbar" name="searchbar" type="text" placeholder="Tìm kiếm sản phẩm..."
                    autocomplete="off">
            </form>
            <div id="search-results">

            </div>
        </div>

        <div class="actionbar">
            <i id="notification" class="ti-bell"></i>
            <div id="user">
                <img src="" alt="" id="avatar">
                <ul id="more-option">
                    <li id="logout"><i class="fa-solid fa-arrow-right-from-bracket" style="color: crimson;"></i>
                        Đăng xuất</li>
                </ul>
            </div>
            <a id="login" href="./login.html">Đăng nhập</a>
        </div>
    </section>

    <section id="main" class="pb-5" style="display: flex;">
        <div class="container mb-5" style="height: 100%;">
            <div id="overall-revenue" class="row">
                <div id="alltime-total" class="overall-item col-4">
                    <h5>Doanh thu hôm nay</h5>
                    <h1></h1>
                </div>
                <div id="completeorderscount" class="overall-item col-4">
                    <h5>Hôm nay đã hoàn thành</h5>
                    <h1></h1>
                </div>
                <div id="completeorderscount" class="overall-item col-4">
                    <h5>Số ETH hợp đồng thông minh đang giữ</h5>
                    <h1 id="contract-balance" style="display: flex;justify-content: center;color: #3a4d85;">
                        0 <img src="../img/Ethereum-icon.svg" style="height: 44px;">
                    </h1>
                </div>
            </div>

            <hr class="mb-4">
            <h4 class="mb-3">Thống kê:</h4>
            <div class="select-date mb-4">
                <label for="dayfrom">Từ ngày</label>
                <input id="dayfrom" name="dayfrom" type="date" class="form-control" onfocusout="getStatisticData()">
                <label for="dayto">Đến ngày</label>
                <input id="dayto" name="dayto" type="date" class="form-control" onfocusout="getStatisticData()">

                <button style="padding: 4px; border: 2px solid #b4b4b4; border-radius: 4px; background: white;"
                    onclick="exportPDF()">
                    <i class="fa-regular fa-file-pdf" style="font-size: 24px; margin-right: 4px;"></i>
                    Xuất thống kê
                </button>
            </div>
            <div id="data-container" style="display: none;">
                <h4 id="tittle-revenuechart" class="mt-5 mb-4 px-3">Thống kê doanh thu:</h4>
                <div class="option px-4 my-3">
                    <span>Dựng theo:</span>
                    <select id="orderBy" onchange="getStatisticData()">
                        <option value="day">Ngày</option>
                        <option value="month">Tháng</option>
                    </select>

                    <span>Loại biểu đồ:</span>
                    <select id="chartType" onchange="renderRevenueChart()">
                        <option value="scatter">Đường</option>
                        <option value="bar">Cột</option>
                    </select>
                </div>
                <div id="revenueChartContainer" class="row">
                    <div id="revenueChart" class="col-8"></div>
                    <div class="col-4 p-4">
                        <div class="label-container">
                            <span>Tổng đơn hàng:</span><span id="sum-order">0 Đơn</span>
                        </div>
                        <div class="label-container">
                            <span>Tổng doanh thu:</span><span id="sum-revenue" style="width:max-content"></span>
                        </div>
                    </div>
                </div>
                <h4 id="tittle-statuschart" class="mt-5 px-3">Thống kê số đơn hàng theo trạng thái:</h4>
                <div class="row">
                    <div id="statusCountChart" class="col-8"></div>
                    <div class="col-4 p-4">
                        <div class="label-container">
                            <span>Chờ xác nhận:</span><span id="Placed">0 Đơn</span>
                        </div>
                        <div class="label-container">
                            <span>Đã xác nhận:</span><span id="Confirm">0 Đơn</span>
                        </div>
                        <div class="label-container">
                            <span>Đã phân công:</span><span id="Assign">0 Đơn</span>
                        </div>
                        <div class="label-container">
                            <span>Vận chuyển:</span><span id="Deliver">0 Đơn</span>
                        </div>
                        <div class="label-container">
                            <span>Hoàn thành:</span><span id="Complete">0 Đơn</span>
                        </div>
                        <div class="label-container">
                            <span>Bị hủy:</span><span id="Cancel">0 Đơn</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="dialog">

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="../scripts/lib/times-normal.js"></script>
    <script src="../scripts/api/user.js"></script>
    <script src="../scripts/api/order.js"></script>
    <script src="../scripts/lib/globalfunc.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/renderer.js"></script>
    <script src="../scripts/statistic.js"></script>
    <script type='module' src="../scripts/smartcontract_statistic.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>

</html>