<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Quản lý đơn hàng</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/orders-manage.css">
    <link rel="stylesheet" href="../css/custom-element.css">
    <!-- Icon -->
    <link rel="stylesheet" href="../font/themify-icons/themify-icons.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a44f840e5f.js" crossorigin="anonymous"></script>
</head>

<body>
    <section id="header">
        <div class="wrapper">
            <input type="checkbox" id="btn" hidden>
            <label for="btn" class="menu-btn">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </label>
            <nav id="sidebar">
                <div class="title">Quản Trị</div>
                <ul class="list-items">
                    <li><a href="./orders_manage.html"><i class="fa-solid fa-boxes-stacked"></i>Đơn hàng</a></li>
                    <li><a href="./products_manage.html"><i class="fa-solid fa-shirt"></i>Sản phẩm</a></li>
                    <li><a href="./discount_manage.html"><i class="fa-solid fa-tags"></i>Khuyến mãi</a></li>
                    <li><a href="./statistic.html"><i class="fa-solid fa-chart-line"></i>Thống kê</a></li>
                </ul>
            </nav>
        </div>
        <div class="searchbox" style="display: none;">
            <i id="ti-search" class="ti-search"></i>
            <form action="./search-results.html" method="GET" id="searchform">
                <input id="searchbar" name="searchbar" type="text" placeholder="Tìm kiếm sản phẩm..."
                    autocomplete="off">
            </form>
            <div id="search-results">

            </div>
        </div>

        <div class="actionbar">
            <i id="notification" class="ti-bell"></i>
            <a id="user" href="#"><img src="" alt="" id="avatar"></a>
            <a id="login" href="./login.html">Đăng nhập</a>
        </div>
    </section>
    <section id="main" style="border-top:56px solid transparent;">
        <div class="container">
            <h4 class="my-3 mt-4">Quản lý đơn hàng</h4>
            <!-- Status Navigation -->
            <ul class=" nav nav-pills nav-justified" id="statusTab">
                <li class="nav-item">
                    <a href="#placed" class="nav-link active" data-bs-toggle="tab">Chờ xác nhận</a>
                </li>
                <li class="nav-item">
                    <a href="#confirm" class="nav-link" data-bs-toggle="tab">Đã xác nhận</a>
                </li>
                <li class="nav-item">
                    <a href="#deliver" class="nav-link" data-bs-toggle="tab">Đang vận chuyển</a>
                </li>
                <li class="nav-item">
                    <a href="#complete" class="nav-link" data-bs-toggle="tab">Hoàn thành</a>
                </li>
                <li class="nav-item">
                    <a id="cancel-nav" href="#cancel" class="nav-link" data-bs-toggle="tab">Đơn bị hủy</a>
                </li>
            </ul>
            <div class="py-2">
                <div id="searchOrder" class="searchbox">
                    <i id="ti-search" class="ti-search"></i>
                    <input id="search-order" name="search-order" type="text" placeholder="Tìm đơn hàng..."
                        onkeyup="filterOrders(this.value)">
                </div>
            </div>
            <!-- Orders content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="placed">

                </div>
                <div class="tab-pane fade" id="confirm">

                </div>
                <div class="tab-pane fade" id="deliver">

                </div>
                <div class="tab-pane fade" id="complete">
                    <div order-id="MHD99930099565985797" class="order">
                        <!-- Id header -->
                        <div class="row">
                            <div class="order-id col-11 row">
                                <div class="col-8">
                                    <i class="fa-solid fa-angle-down"></i>
                                    <span>Mã đơn hàng: MHD99930099565985797</span>
                                </div>

                                <div class="col-4">
                                    <span class="title">Ngày nhận:</span>
                                    <span class="propety"> 24/08/2022 20:19 PM</span>
                                </div>
                            </div>
                            <!-- Button update order -->
                            <a class="complete col"><i class="fa-solid fa-check"></i></a>
                        </div>
                        <!-- Order detail collapse content -->
                        <div class="order-detail" style="border: 1px solid #949494;">
                            <!-- Column header -->
                            <div id="table-column" class="row">
                                <div id="product" class="item-propety col-5">
                                    Sản phẩm
                                </div>
                                <div id="size" class="item-propety col-1">
                                    Size
                                </div>
                                <div id="price" class="item-propety col-2">
                                    Đơn giá
                                </div>
                                <div id="amount" class="item-propety col-2">
                                    Số lượng
                                </div>
                                <div id="total" class="item-propety col-2">
                                    Thành tiền
                                </div>

                            </div>
                            <!-- All order's items container -->
                            <div id="cart-all-items">
                                <!-- item 1 -->
                                <div class="cart-item row">
                                    <div class="item-propety col-5">
                                        <img class="image"
                                            src="https://res.cloudinary.com/minh2212/image/upload/v1658924336/kavano/Product/puma_rebound_wg2_wonlxc.webp"
                                            alt="">
                                        <div class="product-name px-4" style="align-self: center; width: 100%;">
                                            <a href="./product-detail.html?id=12">
                                                Puma Rebound trắng xanh
                                            </a>
                                        </div>
                                    </div>
                                    <div class="size item-propety col-1" style="align-self: center; font-weight: 500;">
                                        40</div>
                                    <span id="price" class="item-propety col-2">1.900.000 VND</span>
                                    <span id="amount" class="item-propety col-2">x1</span>
                                    <span class="item-total item-propety col-2">1.900.000 VND</span>
                                </div>
                            </div>
                            <!-- Coupon used, discount -->
                            <div class="coupon row py-2">
                                <div class="col-8 px-3">
                                    <span class="title">Mã giảm giá:</span>
                                    <span class="propety"> Không</span>
                                </div>
                                <h6 class="col-2 item-propety">Giảm</h6>
                                <span id="cal-total" class="col-2 item-total item-propety">-0 VND
                                </span>
                            </div>
                            <!-- User, Address, Total -->
                            <div id="detail" class="row py-2">
                                <div class="col-4 px-3">
                                    <div class="py-1">
                                        <span class="title">Khách đặt:</span>
                                        <span class="propety">Nguyen Trong Minh</span>
                                    </div>
                                    <div class="py-1">
                                        <span class="title">Email: </span>
                                        <span class="propety"> ntrongminh2212@gmail.com</span>
                                    </div>
                                </div>
                                <div class="col-4 px-3">
                                    <div class="py-1">
                                        <span class="title">Phone: </span>
                                        <span class="propety"> 0932496909</span>
                                    </div>
                                    <div class="py-1">
                                        <span class="title">Giao tới: </span>
                                        <span class="propety">15 Lê Hoàn, Phường 03, Quận Bình Thạnh, Thành phố Hồ Chí
                                            Minh</span>
                                    </div>
                                </div>
                                <h6 class="col-2 item-propety">Tổng</h6>
                                <span id="cal-total" class="col-2 item-total item-propety">1.900.000 VND</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="cancel">

                </div>
            </div>
        </div>
    </section>

    <section id="dialog">

    </section>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>

</html>